* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #fdf8f5;
}

.container {
    display: flex;
    
    height: 100vh;
}

/* LEFT */
.left {
    width: 50%;
    padding: 60px 110px;
}

.logo {
    width: 120px;
    margin-bottom: 30px;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.sub {
    color: #555;
    margin-bottom: 20px;
}

/* Social buttons */
.social-btn {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    display: flex;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
    background: white;
    gap: 12px;
}

.social-btn img {
    width: 20px;
}

.social-btn:hover {
    background: #f5f5f5;
}

/* Form */
.login-form {
    margin-top: 25px;
}

.login-form label {
    margin-top: 15px;
    display: block;
    color: #333;
    font-weight: bold;
}

.login-form input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.password-box {
    position: relative;
}

.eye {
    position: absolute;
    right: 12px;
    top: 16px;
    cursor: pointer;
    font-size: 14px;
}

.login-btn {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: #de4c38;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.login-btn:hover {
    background: #c63c2b;
}

.forgot {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #c63c2b;
    text-decoration: none;
}

.terms {
    font-size: 13px;
    color: #666;
    margin-top: 20px;
    width: 100%;
}

.terms a {
    color: #c63c2b;
}

.signup {
    margin-top: 20px;
    color: #444;
}

.signup a {
    color: #c63c2b;
}

/* RIGHT */
.right {
    width: 50%;
    background: #fdf8f5;
    text-align: center;
    padding-top: 120px;
}

.illustration {
    width: 400px;
    margin-bottom: 30px;
}

.mobile-title {
    font-size: 18px;
    font-weight: bold;
}

.mobile-desc {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}


